#catads_main {
    background-color: rgb(216,191,216);
    padding: 25px;
}
#catads_cat{
    background-color: rgb(100,149,237);
    padding: 25px;
}

#catads_notification{
    background-color: rgb(255,228,196);
    padding: 25px;
}

#catads_annonce{
    background-color: rgb(176,224,230);
    padding: 25px;
}

.catads_bg {
    background-color: rgb(255,228,196);
    padding: 25px;
}

/*page des catégories*/
.annoncesCategoriesContourDiv {margin: 0; padding: .2em;}
.miniature {border: 2px solid #cccccc; margin: 1px;}
.annoncesCategoriesTitre {background-color: #bae003; padding-bottom: 5px}
.annoncesCategoriesTitre a {text-decoration: underline;}
.annoncesCategoriesSub {line-height: 1em; padding: 0px; margin-left: .5em; text-decoration: none; vertical-align: top;}
.annoncesTableau {border: 1px solid #000;}
.annoncesLignes td{vertical-align: middle;}

/* titre et liens */
.annoncesTitre a {font-size: 100%; font-weight: bold; line-height: 1.3; text-decoration: none;}
.annoncesTitre a:visited {font-size: 100%; font-weight: bold; line-height: 1.3; text-decoration: none;}
.annoncesTitre a:hover {font-size: 100%; font-weight: bold; line-height: 1.3; text-decoration: underline;}
.annoncesDescription {font-weight: normal; text-decoration: none; float:left; padding-right: 120px;}

/* ajout cpascalweb */
.bloc_infoannonces{background-color: #fff; margin-top:.2em; border: solid 1px #A9A06C; float: right;}
.bloc_infoannoncestexte  {text-align:left; padding:.5em; }
/*.bloc_infoannoncestexte :hover  {}*/
.pub_bloc_infoannonces {margin: 0; padding: .2em;}
.date_annonce{font-size: .85em; text-align: center; padding: .2em; font-style: italic;}

.colonnebloc {width: 40%;}
/* liste des catégories */
.listecat {color: #000; font-weight: bold; margin: 0; padding: 2px 2px 2px 5px; vertical-align: middle;}
.listecat:hover {color: #fff; font-weight: bold; margin: 0; padding: 2px 2px 2px 5px; vertical-align: middle;}
/* liste des sous catégories */
.listescat_images img {padding: .2em; vertical-align: middle; }
.listescat_titre ul li {text-align: left; list-style-type: square; padding: .1em 0 0 2em;}
.listescat_titre a{text-align: left; color: #000000; text-decoration: none;}
.listescat_titre :hover{text-align: left; color: #fff;}

/* bloc description sous catégories pages sous catégories */
.bloc_descripscat{background-color: #fff; margin: .2em 0 .2em .5em; border: solid 2px #CCBF73; float: left; vertical-align: middle;}
.bloc_descripscat_texte, .bloc_descripscat_texte li  {color: #333; margin-right: 0; margin-bottom: 0; padding: 5px 15px 5px 20px;}
.bloc_descripscat_texte :hover  {color: #333;}

/* bloc de recherche sous catégories pages sous catégories */
.bloc_recherchescat{background-color: #fff; margin: .2em 0 .2em .4em; border: solid 2px #CCBF73; float: right;}
.bloc_recherchescat_texte  {color: #333; margin-right: 0; margin-bottom: 0; padding: 15px 15px 15px 20px;vertical-align: middle;}
.bloc_recherchescat_texte :hover  {color: #333;}

/*~~~~~ page annonce ~~~*/
/*~~ icone vidéo ~~*/ 
.video {position: relative; top: -.2em; text-align: center; background-color: transparent; padding-bottom:5px;}
/*~~ adresse de l'annonceur (département,région,ville,code postal) ~~*/
.annonce_adresseleft {margin: 2px 4px 0 0; text-align: left; float: left; }
.annonce_adresseright {padding: .2em .4em 0 .4em; float: right; text-align: left;}
/*~~ mis en garde & infos dans contact ~~*/ 
.misengarde {background-color: #FFCCCC; text-align: center; border: 1px solid #F0C3C3; font-size: .9em;font-weight: bold; padding: 10px;}
.misengardeInfos {text-align: justify; font-weight: bold; padding: 5px; font-size: .8em; font-style: italic;}
.contactinfos {background-color: #C7C7C7; text-align: center; border: 1px solid #C5C5C5; padding: 5px; font-size: .9em; margin: 0 0 1em 0; }
.contactstatus1 {background-color: #FFAD50; text-align: center; border: 1px solid #FFA239; padding: 5px; font-size: .9em; font-weight: bold;}
.contactstatus2 {background-color: #F04632; text-align: center; border: 1px solid #FF3E28; padding: 5px; font-size: .9em; font-weight: bold;}
/***style pour les boutons ***/
.boutons a, .boutons button{
    display:block;
    float:left;
    margin:0 5px 0 0;
    background: url('../images/bg_button.png') repeat-x left top;
    border:1px solid #cacaca;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: .85em;
    text-decoration:none;
    font-weight:bold;
    color:#454545;
    cursor:pointer;
    padding: 4px 8px 6px 5px; /* Liens */
	-moz-border-radius: 4px/*{cornerRadius}*/; 
	-webkit-border-radius: 4px/*{cornerRadius}*/;
}
.boutons a:hover, .boutons button:hover {color:#5B5B5B;}
.boutons button{width:auto; overflow:visible; padding:3px 8px 4px 5px; /* IE6 */}
.boutons button[type]{padding:3px 5px 4px 5px; /* Firefox */line-height:15px; /* Safari */}
.boutons button img, .boutons a img{margin:0 4px -4px 0 !important; padding:0; border:none; width:18px; height:36px;}

/*~~ photos javascript de l'annonce ~~*/ 
div#galerie {background: #000; border: 1px solid #B2B2B2;} 
ul#galerie_mini {margin-top:5px; margin-left:-5px;} 
ul#galerie_mini li {list-style-type: none; border: none;} 
ul#galerie_mini li img {margin: 2px; float: left; text-align:left; border: 2px solid #ffffff;} 
ul#galerie_mini li :hover img { border: 2px solid #B2B2B2;}
dl#photo {/*float: left; text-align:left;*//*margin-top:5px; margin-right:5px;*/} 
dl#photo dt {font-size: .6em; color: #000; text-align:center; text-transform: uppercase;} 
dl#photo dd {margin-top:5px; margin-right:5px;} 
dl#photo img {border: 1px solid #B2B2B2; margin-top:5px; margin-right:5px;} 
dl#photo :hover img {border: 1px solid #B2B2B2;} 
/*~~ javascript zoombox ~~*/ 
#zoombox_aplat {
	position:fixed;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height:100%;
	background-color: #000;
	cursor:pointer;
}
#zoombox_loader {
	background:url(../images/default/loader.png) left top no-repeat;
	position:absolute;
	height: 40px;
	width: 40px;
	cursor: pointer;
	top:50%;
	left:50%;
	margin:-20px 0 0 -20px;
	overflow: hidden;
	z-index: 110;
}

#zoombox_close {
	position: absolute;
	top: -12px;
	right: -12px;
	height: 30px;
	width: 30px;
	background: transparent url(../images/default/close.png) ;
	z-index: 100;
}
.zoombox_close{
	cursor: pointer;
}
#zoombox_contener {
	position:absolute;
	padding:0;
	margin:0;
	overflow: visible;
	padding:18px 18px 56px 18px;
	z-index: 90;
}
#zoombox_relative{
	position:relative;
	width:100%;
	height:100%;
}
#zoombox_content {
	width:100%;
	height:100%;
	overflow:hidden;
	background:#000;
	color: #FFFFFF;
}	
#zoombox_content iframe{
	border:none;
}
#zoombox_nav{
	bottom:-36px;
	height:26px;
	left:0px;
	position:absolute;
	width:100%;
	z-index:100;
	text-align:center;
	line-height:16px;
}
#zoombox_nav table{
	border:medium none;
	border-collapse:collapse;
	border-spacing:0;
	margin:0 auto;
	padding:0;
}
#zoombox_title{
	background:transparent url(../images/default/title_r.png) no-repeat top right;
	padding-right:13px;
}
#zoombox_title span{
	display:block;
	background:transparent url(../images/default/title.png) top left;
	padding-left:13px;
	height:26px;
	color:#FFFFFF;
	font-family:Arial;
	font-size:12px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:25px;
	text-align:center;
}	
#zoombox_next {
	background:transparent url(../images/default/bouton_d.png) no-repeat top right;
	display:block;
	height:26px;
	width:39px;
	cursor:pointer;
}	
#zoombox_prev{
	background:transparent url(../images/default/bouton_g.png) no-repeat top left;
	height:26px;
	width:39px;
	display:block;
	cursor:pointer;
}	
#zoombox_next:hover,#zoombox_prev:hover{
	background-position:bottom left;
}	
.clear{clear:both;}

#zoombox_bg {}
div.zoombox_bg_h {
	position:absolute;
	top: -18px;
	left:0;
	width: 100%;
	height: 18px;
	background: transparent url(../images/default/ombre_h.png) repeat-x;
}

div.zoombox_bg_hd {
	position:absolute;
	top: -18px;
	right: -13px;
	width: 13px;
	height: 18px;
	background: transparent url(../images/default/ombre_hd.png) no-repeat;
}

div.zoombox_bg_d {
	position:absolute;
	top:0;
	right: -13px;
	height: 100%;
	width: 13px;
	background: transparent url(../images/default/ombre_d.png) repeat-y;
}

div.zoombox_bg_bd {
	position:absolute;
	bottom: -18px;
	right: -13px;
	width: 13px;
	height: 18px;
	background: transparent url(../images/default/ombre_bd.png) no-repeat;
}

div.zoombox_bg_b {
	position:absolute;
	bottom: -18px;
	left:0;
	width: 100%;
	height: 18px;
	background: transparent url(../images/default/ombre_b.png) repeat-x;
}

div.zoombox_bg_bg {
	position:absolute;
	bottom: -18px;
	left: -13px;
	width: 13px;
	height: 18px;
	background: transparent url(../images/default/ombre_bg.png) no-repeat;
}

div.zoombox_bg_g {
	left: -13px;
	top:0;
	position:absolute;
	height: 100%;
	width: 13px;
	background: transparent url(../images/default/ombre_g.png) repeat-y;
}

div.zoombox_bg_hg {
	position:absolute;
	top: -18px;
	left: -13px;
	width: 13px;
	height: 18px;
	background: transparent url(../images/default/ombre_hg.png) no-repeat;
}

/* texte conseils pour pour bien rédiger une annonce avec slider */
.pause, .lecture { position:relative; top: 0; float: right; right:.5em; cursor:pointer; color:#333; font-size: 1em; z-index: 100;}
.pause:hover, .lecture:hover {color:#000; text-decoration:underline;}
.separation{ position:relative; top: 0; float: right; right:.5em; color:#333; font-size: 1em; z-index: 100;}
.slidercontent {position:absolute;}
.slidercontent .upper {border-bottom:1px solid #000;}
.section {padding:10px;}
.newsslider {position:relative; overflow:hidden; height:60px; margin: 0; padding: 0 .5em; color: #333;}
.newsslidercontent {position:absolute;}
.newsslidercontent .upper {border-bottom:1px solid #000;}
.newssection {padding:10px; height:55px;}

